"""Core app configuration."""
from django.apps import AppConfig


class CoreConfig(AppConfig):
    """Configuration for core app."""

    default_auto_field = 'django.db.models.UUIDField'
    name = 'apps.core'
