"""Development settings."""
from .base import *  # noqa: F403

DEBUG: bool = True

ALLOWED_HOSTS: list[str] = ['localhost', '127.0.0.1', '[::1]']

# Development apps
INSTALLED_APPS += [  # noqa: F405
    'django_extensions',
]

# Console email backend
EMAIL_BACKEND: str = 'django.core.mail.backends.console.EmailBackend'
